/* font-family: 'Baloo Da 2', cursive;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Fredoka One', cursive;
    font-family: 'Lalezar', cursive;
    font-family: 'Mallanna', sans-serif;
    font-family: 'Readex Pro', sans-serif; */

